/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--bg-gray);
  background-image: url(../Assets/PreloadRings.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-white) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(104, 104, 104, 0.788);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 148, 148, 0.8);
  border-radius: 12px;
}

/* --------- */
/* title Section  */
/* --------- */
.title{
  padding: 4rem;
}
.title-section {
  text-align: center !important;
  position: relative;
}
.title-section h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--tcolor-primary) !important;
}
.title-bg {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 10rem;
  transform: translateY(-53%);
  color: var(--tcolor-primary);
  text-decoration: line-through;
  text-decoration-color: var(--bg-gray) !important;
  text-decoration-thickness: 2.8rem;
  font-weight: 800 !important;
  letter-spacing: 1rem;
  opacity: 85%;
  z-index: -1;
}
@media (max-width: 767px) {
  .title{
    padding: 5rem 0;
  }
  .title-section h1 {
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
  }
  .title-bg {
    font-size: 5rem;
    text-decoration: line-through;
    text-decoration-color: var(--bg-gray) !important;
    text-decoration-thickness: 1.2rem;
    transform: translateY(-52%);
    font-weight: 800 !important;
    letter-spacing: 0;
  }
}