@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root{
  --bg-white: rgb(242, 242, 242);
  --bg-gray:rgba(184, 194, 188, 1);
  --tcolor-primary: #1a1a1a;
  --box-shadow-inset : rgb(181, 181, 181) 3px 3px 6px 0px inset, rgb(219, 219, 219) -3px -3px 6px 1px inset;
}